# AWS Cognito — copy from AWS Console > User Pools > App integration
NEXT_PUBLIC_COGNITO_DOMAIN=https://us-east-19chs0pt6p.auth.us-east-1.amazoncognito.com
NEXT_PUBLIC_COGNITO_CLIENT_ID=1r4at7v1s9nr9jqots6gl15ht
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/auth/callback

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:8000

# App base URL (used for Cognito logout redirect)
NEXT_PUBLIC_BASE_URL=http://localhost:3000
